/* *Подключаю шрифт из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,800;1,400&display=swap');

body {
    background-color: rgb(39, 39, 39);
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
}

/* *Стили родительского блока wrapper */
.wrapper {
    /* *Помещаю блок по центру страницы */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* *Стили для главного заголовка */
.wrapper #header-text {
    /* *Стиили для текста */
    font-size: 60px;
    color: rgb(204, 204, 204);
    letter-spacing: 3px;

    /* *Отступ под главным заголовком */
    margin-bottom: 20px;
}

/* *Стили для краткого описания */
.descriprtion p {
    /* *Стиили для текста */
    font-size: 25px;
    color: rgb(92, 92, 92);
    letter-spacing: 3px;
}

/* *Стили для кнопки */
.button {
    /* *Задаю размеры кнопки и отступ сверху */
    padding: 20px 35px;
    margin-top: 30px;

    /* *Позиционирование */
    position: relative;
    display: inline-block;

    /* *Цвет для кнопки и скругляю края */
    background-color: #0458a7;
    border-radius: 10px;

    /* *Добавляю плавности анимации и по всему блоки кнопки меняю курсор */
    transition: 0.1s ease;
    cursor: pointer;
}

/* *Анимция кнопки */
.button:hover {
    background-color: #043b6e;
}

/* *Стили для текста внутри кнопки (стрелки) */
.button a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

/* *Стили для поля ввода почты и кнопки */
.form input {
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #0458a7;
    color: rgb(204, 204, 204);
}

/* *Стили для кнопки  */
.form #button {
    cursor: pointer;
    transition: 0.1s ease;
}

/* *Анимация кнопки */
.form #button:hover {
    background-color: #043b6e;
}