/* Подключаю шрифт из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,800;1,400&display=swap');

body {
    background-color: rgb(39, 39, 39);
    font-family: 'JetBrains Mono', monospace;
}

/* Стили родительского блога wrapper */
.wrapper {
    /* Помещаю блок по центру страницы */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}